* {
    box-sizing: border-box;
}

.sale-photo {
    border: 5px gold solid;
    min-width: 50px;
    max-height: fit-content;
    margin-left: 30px;
    margin-right: 20    px;
}

.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: transparent;
}

.sale-page {
    max-width: 100%;
    background-color: rgb(255, 231, 231);

}

.sale-container-left {
    max-width: 450px;
    flex-grow: 1;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgba(0, 0, 0, 0.727);
    border-radius: 20px;
}

.sale-container-left img {
    max-width: 200px;
    transition: transform 0.3s ease;
    margin: 20px;
}

.sale-container-left:hover img {
    transform: scale(1.1);
}

.sale-container-right img {
    max-width: 200px;
    transition: transform 0.3s ease;
    margin: 20px;
}

.sale-container-right:hover img {
    transform: scale(1.1);
}

.sale-container-right {
    max-width: 450px;
    flex-grow: 1;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgba(0, 0, 0, 0.727);
    border-radius: 20px;
}

@media (max-width: 1100px) {
    .sale-container-left {
        display: flex;
        flex-flow: column;

    }

    .sale-container-right {
        display: flex;
        flex-flow: column;

    }

    .sale-price {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .about-us-t-container {
        width: 80%;
        margin-top: 30px;
    }

}

@media (max-width: 995px) {

    .sale-page {
        display: flex;
        flex-direction: column;
    }

    .sale-container-left {
        display: flex;
        flex-flow: row;

    }

    .sale-container-right {
        display: flex;
        flex-flow: row;

    }

    .sale-price {
        margin-bottom: 20px;
    }

    .about-us-t-container {
        width: 80%;
        margin-top: 30px;
    }



}

.sale-price {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;

}

.menu-photo {
    transition: 0.3s transform;
}

.menu-item:hover .menu-photo {
    transform: scale(1.1);
}


.about-us {
    width: 100%;
    height: fit-content;
    background-color: rgb(31, 28, 24);
}

.about-us-t-container {
    max-width: 500px;
    text-align: justify;
}

.about-us-image {
    width: 300px;
}


.booking-container {
    height: fit-content;
    width: 100%;
    padding: 50px;
}

.form-container {
    border-radius: 20px;
}

.left-form {
    width: 50%;
}

.right-form {
    width: 50%;
    text-align: center;
    margin: auto;
}

.right-form img {
    max-width: 70%;
    border-radius: 30px;

}

.our-branches {
    width: 100%;
    border: 3px solid black;
    background-color: antiquewhite;
}

.location-card {
    min-width:30%;
    padding:50px;
    border-radius: 30px;
}

.image-container {
    height: auto;
}


.footer {
    height: fit-content;
    padding-bottom: 20px;
}

.link {
    transition: 0.5s;
    border-radius: 10px;
}

.link:hover {
    background-color: rgba(106, 101, 101, 0.734);
    color: white;
    cursor: pointer;
}